p {
    text-align: center;
    color: green;
    font-size: large;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: black;
}

html, body{
    height: 100%;
    width: 100%;
}

#wrapper{
    border: 1px solid black;
}

#map { 
    height: 50%;
    width: 80%;
    display: inline-block;
}

#Createbutton{
    display: inline-block;
    border: 1px solid blue;
    padding-right: 20px;
}

#addboxbutton {
        background-color: blue;
        width: 100px;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        border: 3px solid yellow;
        color: white;
        cursor: pointer;
}